article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section{
  display: block;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: black;
  height: 100%;
  width:100%;
  position: absolute;
}

body {
  min-height: 100%;
}

h1{
  font-family: "serif";
  color: black;
  text-align: center;
  font-size: 45px;
}

p {
  font-family: "serif";
  color: black;
  font-size:23px;
}

footer{
  margin-top: 5%;
  bottom: 0;
  color :white;
  font-weight: bold;
  text-align: center;
}

#menu{
  width:100%;
  top:0;
  text-align: center;
  margin-left: 70px;

}
#menujs{
  width:100%;
  top:0;
  text-align: center;
  margin-left: 70px;
}
#menu #t1, #t2,#t3{
  width: 25%;
  background: lightgray;
  float: left;
  color: white;
  text-align: center;
  font-family: "serif";
  text-decoration: none;
  padding: 20px 20px;
  font-weight: bold;
}
#menu a {
  width: 25%;
  background: lightgray;
  float: left;
  color: white;
  text-align: center;
  font-family: "serif";
  text-decoration: none;
  padding: 20px 20px;
  font-weight: bold;

}

#menu a:hover{
  background-color: darkgray;
  cursor: pointer;
}
#gotop a{
    position: fixed;
    bottom: 20px;
    left: 85%;
    background-color: gray;
    background-position: center;
    background-repeat: no-repeat;
    font-size:22px;
    font-weight:bold;
    height: auto;
    padding: 2%;
    transition: 0.2s opacity;
  }

#container {
    background-repeat: repeat;

    border: 5px double #008585;
    background-color: #008585;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 20px;
}
section {
    border: 1px dashed #c0ffeb9e;
    background-color: #c0ffeb9e;
}



p{
   font: "serif";
   text-align:justify;
   color:black;
   text-decoration-color:bisque;
   padding-bottom: 20px;
   padding-top:20px;
   padding-left:70px;
   padding-right:70px;
}
.tab{
    margin :50px 0;
    margin-right: 30%;
}

#checky{
  margin-left:40px;
}

/*.container3 {
  display: block;
 position: relative;
 padding-left: 35px;
 margin-bottom: 12px;
 cursor: pointer;
 font-size: 22px;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

}
*/
/* Hide the browser's default checkbox */


/* Create a custom checkbox */


/* Create the checkmark/indicator (hidden when not checked) */



/* Style the checkmark/indicator */

.image{
  display:-webkit-flex;
  margin-left:

float:left;
        //witdth:45%;
        padding-right: 0px;
	padding-left: 80px;
	padding-top: 0px;
	padding-bottom:30px;
	//height: 260px;
}
.container3{
padding: 1em;
    //verflow: hidden;
	float: right;
	width:80%;
}
.outcontainer{
  border: 3px solid black;

}
